@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-primary: #1FA8CF;
$color-secondary: #2657C1;
$color-tertiary: #e8d2b379;
$color-light: #F7F7F7;

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: $color-light;
  color: $color-secondary;
  font-family: 'Poppins', sans-serif;
  a{
    text-decoration: none;
    &:hover{
      font-weight: bold;
      color: $color-secondary; 
    }
    &:visited{
      color: $color-primary;
    }
  }
  h1, h2 {
    background: rgba(232,210,179, 0.9808517156862745);
    background: linear-gradient(90deg, rgba(232,210,179,0.9808517156862745) 30%, rgba(38,87,193,1) 50%, rgba(31,168,207,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 5;
  .logo{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: $color-light;
    h3{
      width: 40%;
      background: rgba(232,210,179, 0.9808517156862745);
      background: linear-gradient(90deg, rgba(232,210,179,0.9808517156862745) 3%, rgba(38,87,193,1) 28%, rgba(31,168,207,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    button{
      color: $color-secondary; 
      border-radius: 15px;
      padding: 1rem;
      border: none;
      box-shadow: 5px 5px 15px  $color-secondary;
    }
  }
  nav{
    transform: translateY(-200%);
    transition: all 1s ease-in;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: $color-light;
    ul{
      list-style: none;
      font-size: 1.5rem;
      li{
        margin: 2rem;
      }
      a{
        &:hover{
          color: $color-secondary;
        }
      }
    }
  }
  .open{
    transform: translateY(0%);
    transition: all 1s ease-out;
  }
}

//Hero section
#hero {
  margin: 8rem 0;
  .parallax {
    height: 75vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/landscape.jpg");
    padding-top: 30vh;
    .blur{
      width: 70%;
      margin: auto;
      padding: .5rem;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    h1{
      text-align: center;
    }
  }
}
//About section
#about {
  width: 70%;
  margin: auto;
  text-align: justify;
  h2{
    text-align: center;
    width: 50%;
    margin: auto;
  }
}
//Family section
#family {
  margin: 10rem 0;
  text-align: center;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article{
    margin: 2rem;
  }
  img{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
//Assets section
#assets{
  margin: 10rem 0;
  text-align: center;
  table{
    width: 70%;
    margin: auto;
    padding: 1rem;
    border: 2px white solid;
    td{
      background-color: white;
      padding: 1rem;
    }
  }

}
//Contacts section
#contact{
  margin: 10rem 0;
  .contact{
    text-align: center;
    margin: 2rem;
  }
  form{
    width: 70%;
    margin: auto;
   input, textarea{
     border-radius: 15px;
     padding: 1rem;
     margin: .5rem;
     width: 100%;
     background-color: $color-tertiary;
   }
   .submit-btn{
     width: fit-content;
     color: $color-secondary; 
      border-radius: 15px;
      padding: 1rem;
      border: none;
      box-shadow: 5px 5px 15px  $color-secondary;
     &:hover{
      transform: scale(1.1);
     }
   }
  }
}
//Footer
footer{
  margin-top: 4rem;
  width: 100%;
  height: 30vh;
  background-color: $color-tertiary;
  text-align: center;
  padding: 4rem 0;
  h2{
    font-size: 1rem;
  }

}

//Responsive
@media all and (min-width: 700px){
  header{
    flex-direction: row;
    align-items: center;
    button{
      display: none;
    }
    .logo{
      width: 40%;
      height: 15vh;
      padding: 0 1rem;
      h3{
        width: 100%;
        font-size: 1rem;
      }
    }
    nav{
      transform: translateY(0%);
      padding: 0;
      ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 15vh; 
        font-size: 1rem;
        margin: 0;
        li{
          margin: 0;
        }
      }
    }
  }
  #hero{
    h1{
      font-size: 2rem;;
    }
  }
  #family{
    .container{
      flex-direction: row;
    }
  }
  #contact{
    form{
      width: 50%;
    }
  }
}
@media all and (max-width: 560px){
  #assets{
    table{
      width: 90%;
      padding: .5rem;
      font-size: .5rem;
    }
  }
}