@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  color: #2657C1;
  font-family: 'Poppins', sans-serif;
}

body a {
  text-decoration: none;
}

body a:hover {
  font-weight: bold;
  color: #2657C1;
}

body a:visited {
  color: #1FA8CF;
}

body h1, body h2 {
  background: rgba(232, 210, 179, 0.980852);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(232, 210, 179, 0.980852)), color-stop(50%, #2657c1), color-stop(60%, #1fa8cf));
  background: linear-gradient(90deg, rgba(232, 210, 179, 0.980852) 30%, #2657c1 50%, #1fa8cf 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 5;
}

header .logo {
  width: 100%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  background-color: #F7F7F7;
}

header .logo h3 {
  width: 40%;
  background: rgba(232, 210, 179, 0.980852);
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(232, 210, 179, 0.980852)), color-stop(28%, #2657c1), to(#1fa8cf));
  background: linear-gradient(90deg, rgba(232, 210, 179, 0.980852) 3%, #2657c1 28%, #1fa8cf 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .logo button {
  color: #2657C1;
  border-radius: 15px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 5px 5px 15px #2657C1;
          box-shadow: 5px 5px 15px #2657C1;
}

header nav {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #F7F7F7;
}

header nav ul {
  list-style: none;
  font-size: 1.5rem;
}

header nav ul li {
  margin: 2rem;
}

header nav ul a:hover {
  color: #2657C1;
}

header .open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#hero {
  margin: 8rem 0;
}

#hero .parallax {
  height: 75vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/landscape.jpg");
  padding-top: 30vh;
}

#hero .parallax .blur {
  width: 70%;
  margin: auto;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#hero .parallax h1 {
  text-align: center;
}

#about {
  width: 70%;
  margin: auto;
  text-align: justify;
}

#about h2 {
  text-align: center;
  width: 50%;
  margin: auto;
}

#family {
  margin: 10rem 0;
  text-align: center;
}

#family .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#family article {
  margin: 2rem;
}

#family img {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#assets {
  margin: 10rem 0;
  text-align: center;
}

#assets table {
  width: 70%;
  margin: auto;
  padding: 1rem;
  border: 2px white solid;
}

#assets table td {
  background-color: white;
  padding: 1rem;
}

#contact {
  margin: 10rem 0;
}

#contact .contact {
  text-align: center;
  margin: 2rem;
}

#contact form {
  width: 70%;
  margin: auto;
}

#contact form input, #contact form textarea {
  border-radius: 15px;
  padding: 1rem;
  margin: .5rem;
  width: 100%;
  background-color: #e8d2b379;
}

#contact form .submit-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #2657C1;
  border-radius: 15px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 5px 5px 15px #2657C1;
          box-shadow: 5px 5px 15px #2657C1;
}

#contact form .submit-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  margin-top: 4rem;
  width: 100%;
  height: 30vh;
  background-color: #e8d2b379;
  text-align: center;
  padding: 4rem 0;
}

footer h2 {
  font-size: 1rem;
}

@media all and (min-width: 700px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header button {
    display: none;
  }
  header .logo {
    width: 40%;
    height: 15vh;
    padding: 0 1rem;
  }
  header .logo h3 {
    width: 100%;
    font-size: 1rem;
  }
  header nav {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding: 0;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    font-size: 1rem;
    margin: 0;
  }
  header nav ul li {
    margin: 0;
  }
  #hero h1 {
    font-size: 2rem;
  }
  #family .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact form {
    width: 50%;
  }
}

@media all and (max-width: 560px) {
  #assets table {
    width: 90%;
    padding: .5rem;
    font-size: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */