@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-primary: #1FA8CF;
$color-secondary: #2657C1;
$color-tertiary: #e8d2b379;
$color-light: #F7F7F7;

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: $color-light;
  color: #2657C1;
  font-family: 'Poppins', sans-serif;
  a{
    text-decoration: none;
    color: $color-primary;
    &:hover{
      font-weight: bold;
      color: $color-secondary;
    }
    &:visited{
      color: $color-primary;
    }
  }
  h1, h2 {
    color: $color-primary;
  }
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  
  .logo{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    h3{
      width: 40%;
    }
    button{
      color: $color-secondary; 
      border-radius: 15px;
      padding: 1rem;
      border: none;
      box-shadow: 5px 5px 15px  $color-secondary;
    }
  }
  nav{
    transform: translateY(-200%);
    transition: all 1s ease-in;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: $color-light;
    ul{
      list-style: none;
      flex-direction: column;
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }
  .open{
    transform: translateY(0%);
    transition: all 1s ease-out;
  }
}

//Hero section
#hero {
  margin: 10rem 0;
  text-align: center;
  h1{
    color: white;
  }
  .parallax {
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("./assets/landscape.jpg");
    padding-top: 30vh;
  }
}
//About section
#about {
  width: 70%;
  margin: auto;
  text-align: justify;
}
//Family section
#family {
  margin: 10rem 0;
  text-align: center;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article{
    margin: 2rem;
  }
  img{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
//Assets section
#assets{
  margin: 10rem 0;
  text-align: center;
  table{
    width: 70%;
    margin: auto;
    padding: 1rem;
    border: 2px white solid;
    td{
      background-color: white;
      padding: 1rem;
    }
  }

}
//Contacts section
#contact{
  margin: 10rem 0;
  .contact{
    text-align: center;
    margin: 2rem;
  }
  form{
    width: 70%;
    margin: auto;
   input, textarea{
     border-radius: 15px;
     padding: 1rem;
     margin: .5rem;
     width: 100%;
     background-color: $color-tertiary;
   }
   .submit-btn{
     width: fit-content;
     color: $color-secondary; 
      border-radius: 15px;
      padding: 1rem;
      border: none;
      box-shadow: 5px 5px 15px  $color-secondary;
     &:hover{
      transform: scale(1.1);
     }
   }
  }
}

//Responsive
@media all and (min-width: 700px){
  header{
    height: fit-content;
    flex-direction: row;
    button{
      display: none;
    }
    .logo{
      width: 40%;
      margin-left: 2rem;
      padding: 0;
      h3{
        width: 100%;
        font-size: 1rem;
      }
    }
    nav{
      transform: translateY(0%);
      width: 100%;
      padding: 0 1rem;
      ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
        line-height: auto;
      }
    }
  }
  #family{
    .container{
      flex-direction: row;
    }
  }
  #contact{
    form{
      width: 50%;
    }
  }
}
@media all and (max-width: 560px){
  #assets{
    table{
      width: 90%;
      padding: .5rem;
      font-size: .5rem;
    }
  }
}